# redirect http to https
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# don't require *.html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]

# redirects
RewriteRule ^buildserver$ http://ci.matsim.org:8080 [R=301,NC,L]
RewriteRule ^doxygen$ http://ci.matsim.org:8080/view/All/job/Doxygen_MATSim/ws/matsim/docs/doxygen/html/index.html [R=301,NC,L]
#RewriteRule ^faq$ https://matsim.atlassian.net/wiki/questions [R=301,NC,L] # is now a landing page within our website
RewriteRule ^issuetracker$ https://matsim.atlassian.net/projects/MATSIM/issues [R=301,NC,L]
RewriteRule ^blog$ https://matsim.atlassian.net/wiki/spaces/MATPUB/blog [R=301,NC,L]
RewriteRule ^wiki$ https://matsim.atlassian.net/wiki/display/MATPUB/MATSim+Community+Space [R=301,NC,L]
RewriteRule ^scenarios?/?([a-z/.]+)?$ gallery/$1 [R=301,NC,L]
RewriteRule ^install?/?([a-z/.]+)?$ downloads/$1 [R=301,NC,L]
RewriteRule ^docs/tutorials?/?$ /docs [R=301,NC,L]
</IfModule>

ErrorDocument 404 /404.html

AddType text/plain .dtd
