<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="I/O: The PSRC Data Blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="/lib/all.css">

    <link rel="icon" type="image/png" href="/lib/images/favicon-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/lib/images/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/lib/images/favicon-192.png" sizes="192x192" >
    <link rel="alternate" type="application/rss+xml" title="I/O Blog" href="/feed/">

    <!-- facebook -->
    <meta property="og:site_name" content="I/O: The PSRC Data Blog">
    <meta property="og:type" content="article">
    <meta property="article:publisher" content="https://www.facebook.com/PugetSoundRegionalCouncil">
    {% if page.title %}
        <title>{{page.title}}</title>
        <meta property="og:title" content="{{page.title}}">
    {% else %}
        <title>I/O: The PSRC Data Blog</title>
        <meta property="og:title" content="I/O: The PSRC Data Blog">
    {% endif %}


    <script src="/lib/jquery-latest.min.js" type="text/javascript"></script>
    {% include float-header-script.html %}
    {% include mobile-menu-script.html %}
    {% include google-analytics.html %}

  </head>

<body>

    <!-- HEADER -->
    <div id="header_wrap">

    </div>

    <div id="rss_wrap">
      <div id="main_menu_wrap">
        <div id="main_menu">
        </div>
      </div>
    </div>

    <div id="stickyalias"></div>


    <div id="white_area">


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap">

      <section id="main_content" class="inner">

        {{ content }}

      </section>

    </div>

    </div>


  </body>
</html>
